<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Play" tabIcon="game-controller-a"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Ranking" tabIcon="star"></ion-tab>
</ion-tabs>
