page-play {
  ion-content {
    //background: url('https://wallpapercave.com/wp/3ZV0GyR.jpg') no-repeat fixed center;
    background: url('../../assets/imgs/background.jpg') no-repeat fixed center;
    background-size: cover;
  }
  h1, p {
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  ion-item{
    background:rgba(255,255,255,0.8);
    margin-top: 60px;
  }
  #newgame {
    font-family: 'Old English Text MT';
    font-size: 35px;
    margin-bottom: 50px;
  }
  ion-input{
    font-family: 'Baskerville Old Face';
    font-size: 20px;
  }
}


