<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Play
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <ion-row>
    <ion-col style="margin-top: 10%" text-center>
      <h1 id="newgame">Começar uma Nova Partida!</h1>
      <ion-item>
        <ion-input autofocus [(ngModel)]="name" placeholder="Digite seu nome..." type="text" maxlength="15"></ion-input>
      </ion-item>
      <button large style="margin-top: 80px;" ion-button color="danger" (click)="createGame()">Jogar!</button>

    </ion-col>

  </ion-row>
</ion-content>
