page-home {
  h1, p {
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  #welcome {
    font-family: 'Old English Text MT';
    font-size: 35px;
  }
  #desc {
    font-family: 'Baskerville Old Face';
    font-size: 15px;
  }
  .flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  ion-content {
    //background: url('https://wallpaperplay.com/walls/full/6/f/3/113792.jpg') no-repeat fixed center;
    background: url('../../assets/imgs/background.jpg') no-repeat fixed center;
    background-size: cover;
  }
}
