<!--<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <ion-row>
    <ion-col style="margin-top: 10%" text-center>
      <h1 id="welcome">Welcome to Castle Monster!</h1>
      <img src="../../assets/gifs/warrior.gif">
      <img class="flip" style="margin-bottom: 10px;" src="../../assets/gifs/monster2.gif">
      <p id="desc">
        This is a project for the front end application test at FPF.
      </p>
    </ion-col>
  </ion-row>
</ion-content>
