page-ranking {
  ion-content {
    //background: url('../../assets/imgs/ranking.jpg') no-repeat fixed center;
    background: url('../../assets/imgs/background.jpg') no-repeat fixed center;
    background-size: cover;
  }
  h1 {
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
    font-family: 'Baskerville Old Face';
  }

  #player0 {
    color: gold !important;
  }
  #player1 {
    color: silver !important;
  }
  #player2 {
    color: #c37333 !important;
  }
  #podium{
    font-family: 'Old English Text MT';
    font-size: 35px;
    margin-bottom: 40px;
  }
}


