<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <div id="ctt">
  <ion-row>
    <ion-col style="margin-top: 5%" text-center>
      <h1 id="podium">Podium!</h1>
      <h1 *ngFor="let res of data; let i = index" [attr.id]="'player' + i.toString()">
        {{ (i+1).toString() + '. ' + res}}
      </h1>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
