page-game {
  ion-content {
    //background: url('https://images6.alphacoders.com/620/620514.jpg') no-repeat fixed center;
    background: url('../../assets/imgs/background.jpg') no-repeat fixed center;
    background-size: cover;
  }

  ion-item{
    color: whitesmoke !important;
  }
  #fight {
    font-family: 'Old English Text MT';
    margin-top: 50px;
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  .names {
    font-family: 'Old English Text MT';
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  #comandos{
    font-family: 'Old English Text MT';
    margin-top: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  #log {
    font-family: 'Old English Text MT';
    margin-top: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px #000000;
  }
  ion-item{
    color: whitesmoke;
    text-shadow: 1px 1px #373737;
  }

  .flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

  .progress-bar {
    font-family: "Baskerville Old Face";
    color: whitesmoke;
    min-width: 5%;
    @media only screen and (max-width: 480px) {
      min-width: 20%;
    }
    max-width: 100%;
    height: 16px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
}
