<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Boss Monster</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding text-center>
  <h1 id="fight">Fight!</h1>
  <ion-row>
    <ion-col style="" text-center>
      <h3 class="names">{{data["name"]}}</h3>
      <img id="warriorgif" src="../../assets/gifs/warrior.gif">

      <div class="progress">
        <div class="progress-bar" [ngStyle]="{'background-color':getHpColor(hpwarrior),'width': hpwarrior.toString() + '%'}">{{hpwarrior}}%</div>
      </div>


    </ion-col>
    <ion-col style="" text-center>
      <h3 class="names">Dragon</h3>

      <img id="monstergif" class="flip" src="../../assets/gifs/monster.gif">

      <div class="progress">
        <div class="progress-bar" [ngStyle]="{'background-color':getHpColor(hpmonster),'width': hpmonster.toString() + '%'}">{{hpmonster}}%</div>
      </div>

    </ion-col>
  </ion-row>
  <h2 id="comandos">Comandos</h2>

  <ion-row margin-top="10px;">
    <ion-col><button ion-button (click)="atacar('ataque')">Ataque</button></ion-col>
    <ion-col><button ion-button color="secondary" [disabled]="data['specialSpan'] != 0" (click)="atacar('especial')">Ataque Especial</button></ion-col>
    <ion-col><button ion-button style="background-color: gold" (click)="curar()">Curar</button></ion-col>
    <ion-col><button ion-button color="danger" (click)="desistir()">Desistir</button></ion-col>
  </ion-row>
  <h1 id="log">Log</h1>

  <ion-card style="background:rgba(255,255,255,0);" *ngFor="let log of logs">
    <ion-item style="color: whitesmoke" [ngStyle]="{'background-color':getMsgColor(log.type), 'text-align': log.side == 'right' ? 'end' : 'start'}">
      {{log.text}}
    </ion-item>
  </ion-card>
</ion-content>
